:root {
  --bg-color: #ffffff;
  --text-color: #000000;
  --header-bg: #f2f2f2;
  --header-border: #ccc;
  --btn-shadow-dark: #ccc;
  --btn-shadow-light: #eee;
}

[data-theme='dark'] {
  --bg-color: #0f0f1a;
  --text-color: #ffffff;
  --header-bg: #1a1a2e;
  --header-border: #222;
  --btn-shadow-dark: #0e0e17;
  --btn-shadow-light: #1e1e2f;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
